/* Віталік - найкраще ім'я */
* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/lc.jpg");
    background-size: 100% 100%;
}

section {
    height: 80%;
    width: 1300px;
    margin: auto;
}
.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cards {
    width: 190px;
    height: 250px;
    box-shadow: 5px 5px 10px 2px black;
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    left: 0;
}
.liv1 {
    background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(208,1,39,1) 100%);
    animation: slide1 15s infinite linear;
}
.arc2 {
    background: radial-gradient(circle, rgba(156,130,74, 1) 10%, rgba(239,0,8, 1) 58%, rgba(2,52,116, 1) 100%);
    animation: slide2 15s infinite 2s linear;
}
.brc3 {
    background: radial-gradient(circle, rgba(2,75,153, 1) 20%, rgba(166,1,66, 1) 63%, rgba(238,188,1, 1) 100%);
    animation: slide3 15s infinite 4s linear;
}
.dyn4 {
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(77,180,255,1) 100%);
    animation: slide4 15s infinite 6s linear;
}
.bor5 {
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgb(255 242 4) 120%);
    animation: slide5 15s infinite 8s linear;
}
.fc {
    width: 190px;
    height: 250px;
}
.liverpool {
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/liverpool.png") no-repeat;
    background-size: 100% 100%;
}
.arsenal {
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/arsenal.png") no-repeat;
    background-size: 100% 100%;
}
.barcelona {
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/barcelona.png") no-repeat;
    background-size: 100% 100%;
}
.dynamo {
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/dynamo.png") no-repeat;
    background-size: 100% 100%;
}
.borusia {
    background: url("/Users/devilie/My Shit/Programing/Training/9 SavchukIT Chalenge/images/borusia.png") no-repeat;
    background-size: 100% 100%;
}


@keyframes slide1 {
    0% { transform: translateX(0px) translateY(0px); z-index: 5;}
    25% { transform: translateX(calc(650px - 120px)) translateY(50px);}
    50% { transform: translateX(calc(1300px - 220px)) translateY(0px); z-index: 5;}
    75% { transform: translateX(calc(750px - 220px)) translateY(-50px);} 
    100% { transform: translateX(0px) translateY(0px); z-index: 5;}
}
@keyframes slide2 {
    0% { transform: translateX(0px) translateY(0px); z-index: 4;}
    25% { transform: translateX(calc(650px - 120px)) translateY(50px);}
    50% { transform: translateX(calc(1300px - 220px)) translateY(0px); z-index: 4;}
    75% { transform: translateX(calc(750px - 220px)) translateY(-50px);} 
    100% { transform: translateX(0px) translateY(0px); z-index: 4;}
}
@keyframes slide3 {
    0% { transform: translateX(0px) translateY(0px); z-index: 3;}
    25% { transform: translateX(calc(650px - 120px)) translateY(50px);}
    50% { transform: translateX(calc(1300px - 220px)) translateY(0px); z-index: 3;}
    75% { transform: translateX(calc(750px - 220px)) translateY(-50px);} 
    100% { transform: translateX(0px) translateY(0px); z-index: 3;}
}
@keyframes slide4 {
    0% { transform: translateX(0px) translateY(0px); z-index: 2;}
    25% { transform: translateX(calc(650px - 120px)) translateY(50px);}
    50% { transform: translateX(calc(1300px - 220px)) translateY(0px); z-index: 2;}
    75% { transform: translateX(calc(750px - 220px)) translateY(-50px);} 
    100% { transform: translateX(0px) translateY(0px); z-index: 2;}
}
@keyframes slide5 {
    0% { transform: translateX(0px) translateY(0px); z-index: 1;}
    25% { transform: translateX(calc(650px - 120px)) translateY(50px);}
    50% { transform: translateX(calc(1300px - 220px)) translateY(0px); z-index: 1;}
    75% { transform: translateX(calc(750px - 220px)) translateY(-50px);} 
    100% { transform: translateX(0px) translateY(0px); z-index: 1;}
}
